/*border color:#bdc3c7
date color:#3498db
h2 color #2c3e50
font: source sans pro*/

body{
	border:20px solid #bdc3c7;
	margin:20px auto;
	padding:20px;
	font-family: Source Sans Pro;
	width:70%;

}

.date{
	color:#3498db;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2rem;
}

h2{
	color:#2c3e50;
	text-transform: capitalize;
	font-size:2em;
	border-bottom:1px solid #bdc3c7 ;
	width:44%;
}

p{
	font-weight: 400;
}

.leftborder{
	border-left:5px solid #bdc3c7;
	padding-left: 5px;
}

hr{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
